:root {
	--btn-size: 3.5em;
	--preset-size: 4.5em;
	--gap-size: 0.5em;
	--text-size: 18px;
	--bg-color: #999;
	--label-size: 0.2em;
	--preset-color: #0d6efd;
}

body {
	overflow-y: hidden;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#toolbar,
#presets {
	gap: 0.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.top-row,
.bottom-row {
	display: flex;
	gap: var(--gap-size);
	margin-bottom: var(--gap-size);
	justify-content: center;
	user-select: none;
}

#presets {
	width: calc(var(--preset-size) * 4);
	align-items: center;
}

.work-area {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.music-btn {
	transition: all 250ms;
	flex: none;
	border: solid 2px var(--bg-color);
	border-radius: 100%;
	width: var(--btn-size);
	height: var(--btn-size);
	text-align: center;
	font-size: var(--text-size);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: baseline;
	gap: 0.25em;
	position: relative;
}

.music-btn__note-number,
.music-btn__note-label {
	margin-top: 0.6em;
}

.music-btn__note-number {
	opacity: 60%;
}

.music-btn__note-label {
	font-weight: 600;
	font-size: 1.5em;
}

.music-btn__note-sublabel {
	position: absolute;
	top: 0.75em;
	line-height: var(--label-size);
	white-space: nowrap;
	height: var(--label-size);
	width: var(--label-size);
	color: #fff;
	left: 0.75em;
}

.music-btn.hover {
	background-color: var(--bg-color);
	color: #fff;
}

.preset-btn {
	transition: all 250ms;
	border-radius: 100%;
	cursor: pointer;
	user-select: none;
	padding: 0.5em;
	border: solid 1px var(--preset-color);
	padding-top: 0.5em;
	color: var(--preset-color);
	width: var(--preset-size);
	height: var(--preset-size);
	text-align: center;
	vertical-align: middle;
	font-size: 0.75em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.preset-btn.hover {
	color: #fff;
	background-color: var(--preset-color);
}

.preset-btn__label {
	font-weight: 600;
	font-size: 1.5em;
}

@media only screen and (max-device-width: 812px) {
	:root {
		--text-size: 1.8em;
		--preset-size: 5em;
		touch-action: manipulation;
	}

	.work-area {
		flex-direction: row;
		gap: 1em;
	}

	.work-area .btn {
		font-size: var(--text-size);
	}

	#toolbar {
		flex-direction: column;
	}

	#presets {
		column-count: 2;
		/* Chromium Bug, cannot calculate width automatically */
		/* https://bugs.chromium.org/p/chromium/issues/detail?id=507397 */
		width: calc(var(--preset-size) * 2);
		height: calc(var(--preset-size) * 4);
		flex-direction: column;
		flex-wrap: wrap-reverse;
		gap: var(--gap-size);
	}

	.preset-btn__sublabel {
		display: none;
	}

	#keyboard {
		display: flex;
	}

	.top-row,
	.bottom-row {
		flex-direction: column-reverse;
	}
}
